name: dayOn

on:
   workflow_dispatch: # 手动触发
   
   schedule:
    - cron:  '1 * * * *'

jobs:
 dayJob:
    runs-on: ubuntu-latest

    environment: Production
    
    steps:
    # 输出IP
    - name : IP
      run: sudo curl inconfig.me
    # 设置服务器时区为东八区 
    - name: Set time zone
      run: sudo timedatectl set-timezone 'Asia/Shanghai'

    # 检出
    - name: Checkout
      uses: actions/checkout@v2
      
    # .Net 环境
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    # 安装依赖
    - name: Install dependencies
      run: dotnet restore
      
    # 构建
    - name: Build
      run: dotnet build --configuration Release --no-restore
    
    - name: run app
      env:
        Cookie: ${{secrets.Cookie}}
      run: dotnet run -p ./Ray.Edna ${Cookie}





























