name: dayOn

on:
   workflow_dispatch: # 手动触发
   
   schedule:
    - cron:  '0 15 * * *'

jobs:
 dayJob:
    runs-on: ubuntu-latest

    environment: Production
    
    steps:
    # 输出IP
    - name : IP
      run: sudo curl ifconfig.me
    # 设置服务器时区为东八区 
    - name: Set time zone
      run: sudo timedatectl set-timezone 'Asia/Shanghai'

    # 检出
    - name: Checkout
      uses: actions/checkout@v2
      
    # .Net 环境
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    # 安装依赖
    - name: Install dependencies
      run: dotnet restore
      
    # 发布
    - name: Publish
      run: |
        cd ./src/Ray.Web.Hosting
        dotnet publish --configuration Release --self-contained false --output ./bin/Publish/net5-dependent
    
    - name: run app
      env:
        Cookie: ${{secrets.Cookie}}
      run: |
        cd ./src/Ray.Web.Hosting/bin/Publish/net5-dependent
        dotnet Ray.Web.Hosting.dll ${Cookie}
       





























